<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <main class="site-main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $theme := resources.Get "js/theme.js" }}
    {{ $lightbox := resources.Get "js/lightbox.js" }}
    {{ $js := slice $theme $lightbox | resources.Concat "js/main.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  </body>
</html>
